<nav class="navbar navbar-expand-md border-bottom border-2 pb-0">
  <div class="container-fluid">
    <!-- Button to toggle navbar content visibility (if its collapsed) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle top navigation bar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content-->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav text-secondary">

        <li class="nav-item border-end border-2">
          <a class="nav-link text-secondary fs-5 active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-secondary fs-5" href="<%= pages_path %>">Pages</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
