<h1 class="display-4 fw-semibold mt-5"><%= title "New Page" %></h1>

<div class="border-bottom border-1 pt-2 pb-2 mb-2"></div>

<div class="btn-group mb-4" role="group" aria-label="Actions you can perform on this new page">
  <%= link_to :back, class: "btn btn-danger" do %>
    <i class="bi bi-x-circle"> Cancel</i>
  <% end %>
</div>

<%= render "form", page: @page %>
